# H1:Data Science Tools and Ecosystem

In this notebook, Data Science Tools are Ecosystem are summarised

**Objectives:**
+ List of popular languages for data science
+ List of popular libraries for data science
+ Application of Jupyter notebook for arithmetic operations

Some of the popular languages used by data scientists are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by data scientists are:
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
| ------------------ |
| Jupyter            |
| Cassandra          |
| MySQL              |

# H3: Below are a few examples of evaluating arithmetic expressions in python:

In [1]:
# A simple arithmetic expression to multiply and then add integers

(3*4) + 5

17

In [5]:
# This will convert 200minutes to hours by dividing by 60

minutes = 200
conversion_factor = 60
hours = minutes/conversion_factor
print(hours)

3.3333333333333335

# H2: Author
      Boifang